<!DOCTYPE html>
<html>
  <head>
    <title>My Hobby Website</title>
    <link rel="stylesheet" type="text/css" href="cooking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js"></script>
    

  </head>
<body>
  <nav>
      <ul>
        <li><a href="w_mp.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li>
          <a href="#">Hobbies</a>
          <ul>
            <li><a href="gardening.html">Gardening</a></li>
            <li><a href="cooking.html">Cooking</a></li>
        
        
          </ul>
        </li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <p>HOBBY HUB</p>
    </nav>

    <div id="app">
      
        <h1>Welcome to my Cooking Hobby Website!</h1>
        <div class="recipes">
          <h2>Recipes</h2>
        
          <ul>
            <li v-for="recipe in recipes" :key="recipe.id">
              <h3>{{ recipe.title }}</h3>
              <img :src="recipe.image" :alt="recipe.title">
              <p>{{ recipe.description }}</p>
              <button v-on:click="showFeedback(recipe)">View Feedback</button>
              <div v-if="recipe.showFeedback">
                <h4>Feedback:</h4>
                <ul>
                  <li v-for="feedback in recipe.feedback" :key="feedback.id">
                    <p>{{ feedback.text }}</p>
                    <p><strong>{{ feedback.author }}</strong></p>
                  </li>
                </ul>
                <form v-on:submit.prevent="addFeedback(recipe)">
                  <label for="text">Leave Feedback:</label>
                  <input id="text" type="text" v-model="feedbackText">
                  <label for="author">Author:</label>
                  <input id="author" type="text" v-model="feedbackAuthor">
                  <button type="submit">Submit</button>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>


      <script src="cooking.js"></script>


      <div>

    
        <div class="footer-dark">
          <footer>
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 col-md-3 item">
                          <h3>Hobbies</h3>
                          <ul>
                              <li><a href="#">Gardening</a></li>
                              <li><a href="#">Cooking</a></li>
                           
                          </ul>
                      </div>
                    
                      <div class="col-md-6 item text">
                        
                     
                        <p> The main aim of the hobby is to minimize the burden on our minds after doing hard work and use our free time in the best possible way by keeping ourselves busy and happy </p>
                      </div>
                     
                      <div class="container">
                        <ul class="list-unstyled">
                          <li><a href="https://www.facebook.com/yourpage"><i class="fab fa-facebook-square"></i></a></li>
                          <li><a href="https://twitter.com/yourusername"><i class="fab fa-twitter-square"></i></a></li>
                          <li><a href="https://www.instagram.com/NuHaleem/"><i class="fab fa-instagram-square"></i></a></li>
                          <li><a href="https://www.youtube.com/channel/dkk"><i class="fab fa-youtube-square"></i></a></li>
                        </ul>
                      </div>
                 
                    </div>
                  <p class="copyright">hobby hub &copy 2023</p>
              </div>
            </div>
          </footer>

        
        
   
  </body>
</html>














      